<!DOCTYPE html>
<html>
<head>
	<title>react</title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/init.css">
	<link rel="stylesheet" type="text/css" href="./css/font.css">
	<link rel="stylesheet" type="text/css" href="./css/animation.css">
	<link rel="stylesheet" type="text/css" href="./css/react.css">
	<script type="text/javascript" src="./js/react.js"></script>
	<script type="text/javascript" src="./js/react-dom.js"></script>
	<script type="text/javascript" src="./js/browser.min.js"></script>
</head>
<body>

	<div id="container">
			
	</div>

<script type="text/babel" src="./js/main.js"></script>
</body>
</html>